*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 90%);
}

main {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
   
}

.column {
    padding: 2em; 
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

img {
    padding-bottom: 20px;
}

.content-head {
    color: hsl(0, 0%, 95%);
    padding-bottom: 20px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

.content{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    padding-bottom: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

button {
    background-color: hsl(0, 0%, 95%);
    padding: 10px 20px;
    border-radius: 40%;
}

.grid-link {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.grid-link button {
    background-color: red;
    font-weight: bold;
}

.grid-link a {
    text-decoration: none;
}

@media screen and (max-width: 375px) {
    
    main {
        width: 50%;
        display: flex;
        justify-content: center;
        height: 100vh;
    }

}

